/* beautiful form */
.form {
  display: grid;
  grid-row: 2;
  grid-column: 2;
  max-width: '200px';
  background: #f4f7f8;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: red;
  font-size: 12px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
}

.form input[type="submit"]:hover {
  transform: scale(1.05);
}

.form input[type="submit"]:active {
  transform: scale(0.95);
}

.form input:not([type="submit"]) {
  display: block;
  width: 100%;
  padding: 7px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.form label {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.form select {
  display: block;
  width: 100%;
  padding: 7px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.form input[type="submit"] {
  background: #f4ce14;
  border-radius: 16px;
  border: none;
  color: #495e57;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: auto 20%;
}

.booking-confirmed {
  display: grid;
  grid-row: 2;
  grid-column: 2;
}

.booking-confirmed h2 {
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;

  /* identical to box height */

  color: #F4CE14;
}

.booking-confirmed p {
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.booking-confirmed button {
  background: #f4ce14;
  border-radius: 16px;
  border: none;
  color: #495e57;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: auto 20%;
}