nav {
  display: grid;
  grid-area: nav;
  align-items: center;
}

nav ul {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  justify-content: start;
  gap: 2rem;
  text-decoration: none;
  list-style: none;
}

nav ul li {
  margin: 0;
}

/* remove link selected */
nav a {
  text-decoration: none;
  color: #000;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}